
        <footer class="footer-distributed">

            <div class="footer-right">

                <a href="#"><%= fa_icon "facebook" %></i></a>
                <a href="#"><%= fa_icon "twitter" %></i></a>
                <a href="#"><%= fa_icon "instagram" %></i></a>
                

            </div>

            <div class="footer-left">

                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">Blog</a>
                    ·
                    <a href="#">Pricing</a>
                    ·
                    <a href="#">About</a>
                    ·
                    <a href="#">Faq</a>
                    ·
                    <a href="#">Contact</a>
                </p>

                <p>Company Name &copy; 2015</p>
            </div>

        </footer>